Source: mongo-cxx-driver
Priority: optional
Maintainer: hfreyther <hfreyther@unknown>
Build-Depends: debhelper (>= 8.0.0), scons, libboost-thread-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-date-time-dev, libboost-regex-dev, libssl-dev, libsasl2-dev, libcurl4-openssl-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://github.com/zecke/mongo-cxx-driver
#Vcs-Git: git://git.debian.org/collab-maint/mongo-cxx-driver.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mongo-cxx-driver.git;a=summary

Package: libmongoclient-dev
Section: libdevel
Architecture: any
Depends: libmongoclient (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libmongoclient
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
